fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
uvicorn[standard]
pymongo
dnspython
python-dotenv
pydantic
certifi
pydantic>=2.6,<3
pydantic-settings>=2,<3
python-multipart
boto3==1.35.99
